# General
TZ=Europe/Madrid
DOMAIN=
TRAEFIK_EMAIL=

# GitHub Container Registry
GHCR_USER=
GHCR_TOKEN=

# Supabase
POSTGRES_PASSWORD=
JWT_SECRET=
ANON_KEY=
SERVICE_ROLE_KEY=
VAULT_ENC_KEY=

# GitHub Runner
RUNNER_NAME=
RUNNER_TOKEN=
RUNNER_REPOSITORY=

