# URLs publicas. Puedes empezar con myQNAPcloud y ajustar luego.
PUBLIC_DOMAIN=santaolalla.myqnapcloud.com
SITE_URL=https://santaolalla.myqnapcloud.com
API_EXTERNAL_URL=https://santaolalla.myqnapcloud.com/supabase
# Studio no se expone públicamente de momento
STUDIO_EXTERNAL_URL=http://localhost:3001


POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

JWT_SECRET=change_me_min_32_chars
ANON_KEY=change_me_generated_jwt
SERVICE_ROLE_KEY=change_me_generated_jwt

DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=change_me

SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_NAME=Mundial2026
SMTP_FROM_EMAIL=admin@example.com

POOLER_TENANT_ID=default
STUDIO_PORT=3001
MAILER_URLPATHS_EMAIL_CHANGE=/auth/v1/verify
ENABLE_PHONE_AUTOCONFIRM=false
ENABLE_EMAIL_AUTOCONFIRM=false
ADDITIONAL_REDIRECT_URLS=
DISABLE_SIGNUP=false
JWT_EXPIRY=3600
MAILER_URLPATHS_RECOVERY=/auth/v1/verify
MAILER_URLPATHS_INVITE=/auth/v1/verify
MAILER_URLPATHS_CONFIRMATION=/auth/v1/verify
POSTGRES_HOST=db
PGRST_DB_SCHEMAS=public
FUNCTIONS_VERIFY_JWT=false
SUPABASE_PUBLIC_URL=http://localhost:8000
POOLER_DEFAULT_POOL_SIZE=20
POOLER_DB_POOL_SIZE=5
POOLER_MAX_CLIENT_CONN=100
POOLER_PROXY_PORT_TRANSACTION=6543
STUDIO_DEFAULT_PROJECT=Dockside
STUDIO_DEFAULT_ORGANIZATION=Dockside
OPENAI_API_KEY=
IMGPROXY_AUTO_WEBP=true
GLOBAL_S3_BUCKET=
REGION=
S3_PROTOCOL_ACCESS_KEY_SECRET=
STORAGE_TENANT_ID=stub
SECRET_KEY_BASE=change-me-secret-key-base
VAULT_ENC_KEY=change-me-vault-enc-key
SUPABASE_SECRET_KEY=change-me-service-role-key
SUPABASE_PUBLISHABLE_KEY=change-me-anon-key
PG_META_CRYPTO_KEY=change-me-pg-meta-key
